:root {
  font-family:
    Inter,
    system-ui,
    -apple-system,
    'Segoe UI',
    Arial,
    sans-serif;
}

html,
body {
  font-family:
    Inter,
    system-ui,
    -apple-system,
    'Segoe UI',
    Arial,
    sans-serif;
}
